/* ====скидання==== */
.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
}
body {
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;
    background-color: #FFFFFF;
    color: #434455;
}
/* ====скидання==== */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* ==========header============ */
.logotype {
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.logo-span {
    color: #2e2f42;
}
.logo-span-basement {
    color: #f4f4fd;
}
.menu-link {
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
    padding-top: 24px;
    padding-bottom: 24px;
}  
.menu-link:hover,
.menu-link:focus,
.contact-link:hover,
.contact-link:focus,
.hero-button:hover,
.hero-button:focus {
    color: #404bbf;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}
.contact {
    font-style: normal;
    margin-left: 332px;
}
.contact-link {
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
.hero-title {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    color: #ffffff;
}
.title {
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
        color: #2e2f42;
}
.title-portfolio,
.advantages-title,
.title-list {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}
.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-button {
    margin-top: 48px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
}
.hero-button {
    display: block;
    min-width: 169px;
}
.advantages { 
    padding-top: 120px;
    padding-bottom: 120px;
}
.team {
    background-color: #F4F4FD;
}
.list-team-item {
    background-color: #FFFFFF;
}
/* === FOOTER=== */
.basement {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2e2f42;
}
.basement-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    width: 264px;
    height: 72px;
    color: #F4F4FD;
}

.basement-link {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.container-header{
    display: flex;
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px 0 15px;
    justify-content: space-between;
}
.basement-container {
    
    align-items: ;
    flex-direction: column;
}
.container-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-container {
    display: flex;
    flex-direction: column;
}
.container-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-nav {
    display: flex;
    align-items: center;
} 

.list-contact {
    display: flex;
    gap: 40px;
} 

.list-nav {
    display: flex;
    gap: 40px;
}
.page-header {
    border: 1px solid #e7e9fc;
}
.menu-link {

}
.advantages-list {
    display: flex;
    gap: 24px;
}
.advantages-title {
    margin-bottom: 8px;
}
.advantages-list-item {
    width: calc((100% - 72px) / 4);
}
.team {
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-title {
    margin-bottom: 72px;
}
.list-team {
    display: flex;
    gap: 24px;
}
.list-team-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.container-team {
    padding-top: 32px;
    padding-bottom: 32px;
}
.title-list {
    text-align: center;
    margin-bottom: 8px;
}
.team-text {
    text-align: center;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
}
.container-portfolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.container-portfolio-main {
    display: flex;
    flex-direction: column;
}
.title-portfolio {
    margin-bottom: 8px;
}
.basement-text {
    
}
.portfolio-img {
}